body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

button {
  cursor: pointer;
}

.content {
  height: 100vh;
  width: 50vw;
  min-width: 700px;
  margin: auto;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

header button {
  background: none;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-right: 40px;
  height: 40px;
  width: 40px;
  transition: background-color 200ms;
}

header button:hover {
  background-color: #f5f8fa;
}

header button:active {
  background-color: #e1e8ed;
}

.display-text p {
  font-size: 12px;
}

.display-text i {
  color: #1da1f2;
}

header i {
  font-size: 1.2rem;
  color: #1da1f2;
}

.sub-info {
  color: #657786;
}

.profile {
  box-sizing: content-box;
}

.profile-images {
  height: 225px;
  background-image: url(./assets/elonmusk-cover.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.profile-images img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 100%;
  left: 20px;
  transform: translateY(-50%);
}

.profile-info {
  height: 32%;
  margin-top: 81px;
  padding: 5px 25px;
  position: relative;
}

.join-date {
  margin-top: 10px;
  display: flex;
}

.join-date i {
  color: #657786;
  margin-right: 5px;
}

.follower-info {
  margin-top: 10px;
  font-size: 14px;
}
.follower-info span {
  color: #14171a;
  font-weight: 700;
}

.follower-info .followers {
  margin-left: 20px;
}

.follow-button {
  background-color: rgba(29, 161, 242, 1);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 10px 20px;

  position: absolute;
  right: 20px;
  bottom: 100%;
  transform: translateY(-50%);
}
.follow-button:hover {
  background-color: rgba(29, 161, 242, 0.9);
}

.content-tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.content-tabs li {
  flex-grow: 1;
  text-align: center;

  padding: 10px 10px;
  font-size: 18px;
  color: #657787;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid transparent;
  transition: background-color 500ms;
  cursor: pointer;
}

.content-tabs li.active {
  color: #1da1f2;
  border-bottom: 2px solid #1da1f2;
}

.content-tabs li:hover {
  background-color: #f5f8fa;
}

.tweet {
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
}
.tweet-image img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.tweet-content {
  width: 80%;
  color: #657785;
  padding: 0 20px;
}
.tweet-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweet-info-left {
  display: flex;
  align-items: center;
}
.tweet-info-right {
  text-align: end;
  font-size: 12px;
}
.tweet-info h3 {
  color: #14171a;
  margin-right: 5px;
}
.tweet-info i {
  margin-right: 5px;
  color: #1da1f2;
}
.tweet-info p {
  margin: 0 5px;
  font-size: 12px;
}
.tweet-message {
  color: #14171a;
  font-size: 14px;
}
.tweet-actions {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 20px;
}
.tweet-actions li {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.tweet-actions li i {
  margin-right: 10px;
}
.tweet-actions li p {
  font-size: 14px;
  font-weight: 300;
}
